image/
convert.py
node_modules/
dist/
data/
.vite/
*.log
.npm-cache/
.electron-cache/
.electron-builder-cache/
release/
*.env
*.pdf
test*
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
native/
resources/